<html xmlns:th="http://thymeleaf.org">
	<head>
		<title>Online Bank</title>
		<link rel="stylesheet" href="/css/transactions.css"/>
	</head>
	<body>
		<h2>Transaction History</h2>
		
		<table>
			<tr>
				<th>ID</th>
				<th>Date</th>
				<th>Retailer</th>
				<th>Funds In</th>
				<th>Funds Out</th>
			</tr>
			
			<tr th:each = "storedTransaction :  ${#lists.sort(transactions, byDate)}">
				<td><a th:href="@{/transactions/{transactionId}(transactionId=${storedTransaction.id})}">[[${storedTransaction.id}]]</a></td>
				<td>[[${storedTransaction.date}]]</td>
				<td>[[${storedTransaction.retailer}]]</td>
				<td th:switch= "${storedTransaction.type}">
					<p th:case="'C'">[[${storedTransaction.amount}]]</p></td>
				<td th:switch= "${storedTransaction.type}">
					<p th:case="'D'">[[${storedTransaction.amount}]]</p></td>
				
			</tr>
						
			
			
		</table>
	</body>
</html>